<%- include('./partials/header') %>
<div class="homeHero row mx-0 px-2">
    <div class="container mainComponent d-flex flex-column align-items-center col-lg-3 col-md-6 col-sm-12">
        <h1><i><b>Expense Trak</b></i></h1>
        <p style="text-align: center;" class="text-muted">Keep track of your expenses and achieve financial freedom</p>
        <div class="d-flex">
            <a href="/users/login">Login</a>
            <a href="/users/register">Register</a>
        </div>
    </div>
</div>
<%- include('./partials/footer') %>